body,
html {
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 77rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;

    @include tablet {
        max-width: none;
    }
}