.help {
    margin-bottom: 7.5rem;

    @include mobile {
        margin-bottom: 4rem;
    }


    // .help__content

    &__content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 7.5rem;


        @include mobile {
            gap: 3rem;
        }
    }

    // .help__headline

    &__headline {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1.125rem;
    }

    // .help__title

    &__title {
        @include title;
    }

    // .help__text

    &__text {
        @include text;
    }

    // .help__image

    &__image {
        max-width: 47.5rem;
        aspect-ratio: 760 / 469;
        object-fit: cover;
    }
}