.ready {

    margin-bottom: 7.5625rem;

    // .ready__content

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 14.625rem;

        @include mobile {
            gap: 2rem;
        }
    }

    // .ready__headline

    &__headline {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        gap: 3.25rem;

        @include mobile {
            align-items: center;
        }
    }

    // .ready__title

    &__title {
        @include title;
    }

    // .ready__text

    &__text {
        @include text;
        max-width: 23.875rem;
        text-align: left;

        @include mobile {
            text-align: center;
        }
    }

    // .ready__button

    &__button {
        @include button;


    }

    // .ready__image

    &__image {
        max-width: 35.5rem;
        aspect-ratio: 568 / 454;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}