*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body,
html {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper>main {
  flex-grow: 1;
}

[class*=__container] {
  max-width: 77rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}

.header {
  margin-bottom: 4.25rem;
}

@media (max-width: 479.98px) {
  .header {
    margin-bottom: 3.25rem;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.657rem 0.75rem;
  gap: 10px;
}

@media (max-width: 392.98px) {
  .header__content {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }
}

.header__logo {
  max-width: 7.18rem;
  aspect-ratio: 115/29;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 392.98px) {
  .header__logo {
    text-align: center;
  }
}

.header__nav {
  transition: all 0.3s ease;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

@media (max-width: 991.98px) {
  .header__nav ul {
    gap: 0.625rem;
  }
}

@media (max-width: 767.98px) {
  .header__nav ul {
    flex-wrap: wrap;
  }
}

.header__nav :hover {
  text-decoration: underline;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

@media (max-width: 767.98px) {
  .header__button {
    flex-flow: row wrap;
  }
}

@media (max-width: 392.98px) {
  .header__button {
    gap: 1.875rem;
  }
}

.header__link {
  text-wrap: nowrap;
}

.header__link--color {
  max-width: 6.68rem;
  text-wrap: nowrap;
  padding: 0.625rem 2rem;
  border-radius: 0.23rem;
  color: #FFF;
  background: #1A7BFF;
}

.agency {
  margin-bottom: 5.5rem;
}

@media (max-width: 479.98px) {
  .agency {
    margin-bottom: 5rem;
  }
}

.agency__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 7.75rem;
}

@media (max-width: 767.98px) {
  .agency__content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
}

.agency__blok {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.agency__link {
  color: #1A7BFF;
}

.agency__title {
  max-width: 23.125rem;
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 479.98px) {
  .agency__title {
    font-size: 1.8rem;
    text-align: center;
  }
}

.agency__button {
  display: flex;
  max-width: 18.125rem;
  justify-content: space-between;
  align-items: center;
}

.agency__btn {
  max-width: 8.25rem;
  color: #FFF;
  text-align: center;
  text-wrap: nowrap;
  border-radius: 0.27rem;
  background: #1A7BFF;
  padding: 0.625rem 1.25rem;
}

.agency__img {
  max-width: 1.75rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.agency__image {
  max-width: 45.25rem;
  flex-shrink: 0;
  aspect-ratio: 724/582;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.icons {
  margin-bottom: 8rem;
}

@media (max-width: 479.98px) {
  .icons {
    margin-bottom: 6rem;
  }
}

.icons__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 0.2fr));
  gap: 1.25rem;
}

@media (max-width: 479.98px) {
  .icons__content {
    justify-content: center;
    align-items: center;
  }
}

.icons__item {
  max-width: 12.5rem;
  aspect-ratio: 200/53;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.perfect {
  margin-bottom: 7.5rem;
}

@media (max-width: 479.98px) {
  .perfect {
    margin-bottom: 4rem;
  }
}

.perfect__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

@media (max-width: 479.98px) {
  .perfect__content {
    gap: 3rem;
  }
}

.perfect__headline {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.125rem;
}

@media (max-width: 479.98px) {
  .perfect__headline {
    gap: 1rem;
  }
}

.perfect__title {
  color: #020113;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  max-width: 40.12rem;
}

@media (max-width: 479.98px) {
  .perfect__title {
    font-size: 1.5rem;
  }
}

.perfect__text {
  color: #B6B6B6;
  text-align: center;
  font-size: 1rem;
  max-width: 43.312rem;
}

.perfect__article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 2.875rem;
  transition: all 0.3s ease;
}

@media (max-width: 479.98px) {
  .perfect__article {
    gap: 1.5rem;
  }
}

.perfect__item {
  padding: 0.3125rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: #000;
  background: #FFF;
  border-radius: 0.9375rem;
  border: 0.0625rem solid #020113;
}

.perfect__image {
  width: 6.875rem;
  height: 6.875rem;
  background-color: #0066FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfect__image img {
  max-width: 3.125rem;
  aspect-ratio: 50/50;
  object-fit: cover;
}

.perfect__main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.perfect__main h3 {
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.perfect__main p {
  color: #000;
  text-align: center;
  font-size: 1rem;
}

.perfect__item--blue {
  padding: 0.3125rem;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: #0066FF;
  border-radius: 0.9375rem;
}

.perfect__item--blue h3,
.perfect__item--blue p {
  color: #FFF;
}

.perfect__image--white {
  width: 6.875rem;
  height: 6.875rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfect__image--white img {
  max-width: 3.125rem;
  aspect-ratio: 50/50;
  object-fit: cover;
}

.help {
  margin-bottom: 7.5rem;
}

@media (max-width: 479.98px) {
  .help {
    margin-bottom: 4rem;
  }
}

.help__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 7.5rem;
}

@media (max-width: 479.98px) {
  .help__content {
    gap: 3rem;
  }
}

.help__headline {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.125rem;
}

.help__title {
  color: #020113;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  max-width: 40.12rem;
}

@media (max-width: 479.98px) {
  .help__title {
    font-size: 1.5rem;
  }
}

.help__text {
  color: #B6B6B6;
  text-align: center;
  font-size: 1rem;
  max-width: 43.312rem;
}

.help__image {
  max-width: 47.5rem;
  aspect-ratio: 760/469;
  object-fit: cover;
}

.specialist {
  margin-bottom: 8rem;
}

@media (max-width: 767.98px) {
  .specialist {
    gap: 1rem;
  }
}

.specialist__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

@media (max-width: 767.98px) {
  .specialist__content {
    gap: 1rem;
  }
}

.specialist__headline {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.specialist__title {
  color: #020113;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  max-width: 40.12rem;
}

@media (max-width: 479.98px) {
  .specialist__title {
    font-size: 1.5rem;
  }
}

.specialist__text {
  color: #B6B6B6;
  text-align: center;
  font-size: 1rem;
  max-width: 43.312rem;
}

.specialist__blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17.5rem;
  padding: 1.8125rem;
}

@media (max-width: 1200px) {
  .specialist__blocks {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media (max-width: 991.98px) {
  .specialist__blocks {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media (max-width: 479.98px) {
  .specialist__blocks {
    padding: 0.625rem;
  }
}

.specialist__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.specialist__list {
  border: 0.0625rem solid #000;
  padding: 0.5rem 0 1.75rem 0.5rem;
}

@media (max-width: 767.98px) {
  .specialist__list {
    flex-grow: 1;
  }
}

.specialist__img {
  max-width: 5.5rem;
  min-height: 5.5rem;
  background-color: #0066FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 479.98px) {
  .specialist__img {
    margin: 0 auto;
    margin-bottom: 0.3125rem;
  }
}

.specialist__img img {
  max-width: 2.68rem;
  aspect-ratio: 43/44;
  object-fit: cover;
}

.specialist__description {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.specialist__description h3 {
  color: #000;
  text-align: center;
  font-weight: 700;
  text-align: center;
  font-size: 1.25rem;
}

.specialist__description p {
  flex-grow: 1;
  color: #B6B6B6;
}

.specialist__image {
  display: flex;
  transform: rotate(5.24deg);
  flex-direction: column;
  align-items: center;
  border-radius: 0.9375rem;
  background: #1A7BFF;
}

.specialist__image img {
  padding: 0.75rem 0.3125rem 2.1875rem 0.3125rem;
  max-width: 26.25rem;
  aspect-ratio: 420/563;
  border-radius: 0.9375rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews {
  margin-bottom: 3.375rem;
}

.reviews__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 7.5rem;
}

@media (max-width: 479.98px) {
  .reviews__content {
    gap: 2rem;
  }
}

.reviews__title {
  color: #020113;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  max-width: 40.12rem;
}

@media (max-width: 479.98px) {
  .reviews__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 479.98px) {
  .reviews__title {
    font-size: 24px;
  }
}

.reviews__image {
  max-width: 55.9375rem;
  flex-shrink: 0;
  aspect-ratio: 895/557;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 479.98px) {
  .reviews__image {
    padding: 0 15px;
  }
}

.plan {
  margin-bottom: 6.25rem;
}

.plan__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 7.5rem;
}

.plan__headline {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.125rem;
}

.plan__title {
  color: #020113;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  max-width: 40.12rem;
}

@media (max-width: 479.98px) {
  .plan__title {
    font-size: 1.5rem;
  }
}

.plan__text {
  color: #B6B6B6;
  text-align: center;
  font-size: 1rem;
  max-width: 43.312rem;
}

.plan__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9.3125rem;
  padding: 0.8125rem 0.6875rem;
  border-radius: 1.62rem;
  border: 0.0625rem solid #020113;
}

@media (max-width: 1200px) {
  .plan__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }
}

@media (max-width: 767.98px) {
  .plan__cards {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.card {
  border-radius: 1.25rem;
  border: 0.0625rem solid #020113;
  padding: 2.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card__headline {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card__lebel {
  color: #000;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.27;
  display: flex;
  gap: 0.1875rem;
}

.card__lebel span {
  color: #B6B6B6;
}

@media (max-width: 479.98px) {
  .card__lebel {
    font-size: 1.8rem;
  }
}

.card__title {
  color: #000;
  text-align: center;
  font-size: 1.86rem;
  font-weight: 700;
}

.card__description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 0.75rem;
}

.card__description ::after {
  content: "";
  width: 0.875rem;
  height: 0.75rem;
  background: url(../img/icon/check.svg);
  position: absolute;
  top: 0;
  left: -1.25rem;
}

.card__description ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;
}

.card__description li {
  position: relative;
}

.card__button {
  border-radius: 1.875rem;
  border: 0.125rem solid #000;
  background: #FFF;
  font-weight: 700;
  padding: 0.75rem 1.375rem;
}

.card--color {
  background: #1A7BFF;
}

.ready {
  margin-bottom: 7.5625rem;
}

.ready__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 14.625rem;
}

@media (max-width: 479.98px) {
  .ready__content {
    gap: 2rem;
  }
}

.ready__headline {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 3.25rem;
}

@media (max-width: 479.98px) {
  .ready__headline {
    align-items: center;
  }
}

.ready__title {
  color: #020113;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  max-width: 40.12rem;
}

@media (max-width: 479.98px) {
  .ready__title {
    font-size: 1.5rem;
  }
}

.ready__text {
  color: #B6B6B6;
  text-align: center;
  font-size: 1rem;
  max-width: 43.312rem;
  max-width: 23.875rem;
  text-align: left;
}

@media (max-width: 479.98px) {
  .ready__text {
    text-align: center;
  }
}

.ready__button {
  max-width: 8.25rem;
  color: #FFF;
  text-align: center;
  text-wrap: nowrap;
  border-radius: 0.27rem;
  background: #1A7BFF;
  padding: 0.625rem 1.25rem;
}

.ready__image {
  max-width: 35.5rem;
  aspect-ratio: 568/454;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer__content {
  text-align: center;
  padding: 0.3125rem;
}

/*# sourceMappingURL=style.css.map */