@use 'index' as *;

.guitars {
    margin-bottom: 10rem;

    @include tablet {
        margin-block-end: 5rem;
    }




    // .guitars__content

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 11.25rem;

        @include laptop {
            flex-wrap: wrap;
            gap: 2rem;
        }
    }

    // .guitars__header

    &__header {
        max-width: 29.3125rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;


    }

    // .guitars__title

    &__title {
        color: #121212;
        font-family: "Cal Sans";
        font-size: 3.5rem;
        font-weight: 600;

        @include tablet {
            width: min(29.3125rem, 100%);
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        @include mobile {
            font-size: 2rem;
        }

        strong {
            color: #FF6428;
        }
    }

    // .guitars__text

    &__text {
        max-width: 24.875rem;
        color: #666;
        font-weight: 500;
        margin-bottom: 0.9375rem;

        @include tablet {

            flex-wrap: wrap;
        }
    }

    // .guitars__button

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        @include tablet {
            flex-wrap: wrap;
        }
    }

    // .guitars__btn

    &__btn {
        @include button
    }

    // .guitars__image

    &__image {
        margin-top: -20%;
        margin-right: -15%;
        border-radius: 0px 0px 9.4375rem 22.5rem;
        backdrop-filter: blur(1.25rem);
        display: flex;

        @include laptop {
            margin-top: 5%;
        }
    }

    // .guitars__img-big

    &__img-big {
        position: relative;
        width: 100%;
        flex: 1 1 42rem;
        aspect-ratio: 672 / 586;
        object-fit: cover;
    }

    // .guitars__img-smoll

    &__img-smoll {
        position: absolute;
        bottom: -7%;
        right: 37%;
        max-width: 5rem;
        aspect-ratio: 1 / 1;
    }
}