@use 'index' as *;

.rhythm {
    margin-block-end: 15rem;
    background-color: #121212;
    color: #fff;

    @include mobile {
        margin-block-end: 5rem;
    }

    // .rhythm__container

    &__container {
        max-width: 90rem;
    }

    // .rhythm__content

    &__content {
        padding: 5.8125rem;
        display: flex;
        flex-flow: column nowrap;
        place-items: center;
        gap: 4.6875rem;
    }

    // .rhythm__title

    &__title {
        @include title;
        color: #fff;

        @include mobile {
            text-align: center;
        }
    }

    // .rhythm__items

    &__items {
        // max-width: 76.875rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 7rem;

        @include tablet_b {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        @include mobile {
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }

    // .rhythm__item

    &__item {
        padding: 2.1875rem;
        display: flex;
        flex-flow: column nowrap;
        place-items: center;
        gap: 2.5rem;
    }

    &__img {
        max-width: 4.5rem;
        flex-shrink: 0;
        border-radius: 1.25rem;
        background: #262626;
        padding: 1.25rem;

        img {
            max-width: 1.875rem;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            width: 100%;
        }
    }

    &__description {
        display: flex;
        flex-flow: column nowrap;
        flex: 0 0 auto;
        gap: 0.75rem;
    }

    // .rhythm__img



    // .rhythm__headline

    &__headline {
        font-size: 1.125rem;
        font-weight: 600;
        letter-spacing: 0.09rem;
        text-transform: uppercase;
        text-align: center;
        text-wrap: nowrap;
    }

    // .rhythm__text

    &__text {
        width: 14.375rem;
        text-align: center;
    }
}