@use 'index' as *;

.brands {
    padding-top: 110px;
    padding-bottom: 90px;

    @include tablet_b {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @include tablet {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    // .brands__container

    &__container {
        max-width: 1052px;
    }

    // .brands__title

    &__title {
        @include title;
        margin-bottom: 75px;

        @include tablet_b {
            margin-bottom: 40px;
        }

        @include tablet {
            font-size: 2.375rem;
            margin-bottom: 25px;
        }
    }

    // .brands__items

    &__items {
        display: grid;
        grid-template-columns: repeat(4, auto);
        align-items: center;
        justify-content: space-between;
        gap: 80px 20px;

        @include tablet_b {
            grid-template-columns: repeat(3, auto);
        }

        @include tablet {
            grid-template-columns: repeat(2, auto);
            justify-self: center;
            row-gap: 25px;
        }


    }

    // .brands__item

    &__item {
        img {
            max-width: 100%;
        }
    }
}