@use 'index' as *;

.footer {
    background: #EEE;
    padding-top: 5rem;
    padding-bottom: 2.6875rem;

    @include tablet_b {
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }


    // .footer__copy

    &__copy {
        text-align: center;
        padding-top: 1.25rem;
        color: rgba(18, 18, 18, 0.60);
        line-height: 1.6;
        padding-top: 5rem;

        @include tablet {
            padding-top: 3.125rem;
        }
    }
}

.body-footer {
    display: flex;
    gap: 1.875rem;

    @include tablet_b {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // .body-footer__column

    &__column {

        @include tablet_b {
            &:first-child {
                flex: 1 1 100%;
            }

        }
    }

    &__column--full {
        flex: 1 1 auto;

        @include tablet_b {
            flex: 0 1 50%;
        }
    }

    // .body-footer__logo

    &__logo {
        display: inline-block;

        &:not(:last-child) {
            margin-bottom: 1.75rem;
        }

    }

    // .body-footer__menu

    &__menu {
        display: flex;
        gap: 3.125rem;
    }


}

.contacns-footer {

    // .contacns-footer__item

    &__item {
        &:not(:last-child) {
            margin-bottom: 1.25rem;
        }
    }

    // .contacns-footer__link

    &__link {
        display: inline-block;
        color: #666;
        line-height: 1.6;
        padding-left: 2.75rem;
        transition: all 0.3s ease 0s;

        &:hover {
            text-decoration: underline;
        }
    }

    // .contacns-footer__link--mail

    &__link--mail {
        width: 1.5rem;
        height: 1.5rem;
        background: url("../img/footer/sms.svg") left no-repeat;
    }

    // .contacns-footer__link--location

    &__link--location {
        background: url("../img/footer/location.svg") left no-repeat;
    }
}

.menu-footer {
    display: flex;
    gap: 7.5rem;
    justify-content: center;

    @include tablet_b {
        justify-content: space-between;
        gap: 3.125rem;
    }



    // .menu-footer__title

    &__title {
        color: #121212;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 1.25rem;
    }


    // .menu-footer__item

    &__item {
        :not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    // .menu-footer__link

    &__link {
        color: rgba(18, 18, 18, 0.60);
        line-height: 1.5;
        transition: all 0.3s ease 0s;

        &:hover {
            text-decoration: underline;
        }
    }
}

.social-footer {

    // .social-footer__title

    &__title {
        color: #121212;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 0.75rem;
    }

    // .social-footer__items

    &__items {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

}