@mixin button {
    max-width: 8.25rem;
    color: #FFF;
    text-align: center;
    text-wrap: nowrap;
    border-radius: 0.27rem;
    background: #1A7BFF;
    padding: 0.625rem 1.25rem;
}


@mixin title {
    color: #020113;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    max-width: 40.12rem;

    @include mobile {
        font-size: 1.5rem;
    }

}

@mixin text {
    color: #B6B6B6;
    text-align: center;
    font-size: 1rem;
    max-width: 43.312rem;
}