@mixin button {
    display: inline-flex;
    padding: 18px 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
    border-radius: 40px;
    background: #FF6428;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

@mixin title {
    color: #121212;
    font-family: "Cal Sans";
    font-size: 2.75rem;
    font-weight: 600;


    strong {
        color: #FF6428;
    }
}

@mixin subtitle {
    color: #121212;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    a {
        color: #868686;
        font-weight: 500;
    }
}