*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 76.875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

@font-face {
  font-family: "Cal Sans";
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.header {
  margin-bottom: 5.125rem;
}
@media (max-width: 47.9988em) {
  .header {
    margin-bottom: 3rem;
  }
}
@media (max-width: 29.9988em) {
  .header {
    margin-bottom: 2rem;
  }
}
.header__content {
  max-width: 35.625rem;
  padding-block: 3.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
@media (max-width: 29.9988em) {
  .header__content {
    padding-block: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.625rem;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}
.header__title {
  color: #121212;
  font-family: "Cal Sans";
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
}
.header__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.5rem;
}
.header__list ul li {
  color: rgba(18, 18, 18, 0.4);
  line-height: 1.5;
  font-weight: 500;
}
.header__list ul li :hover {
  text-decoration: underline;
}
@media (max-width: 47.9988em) {
  .header__list ul {
    gap: 1rem;
  }
}

.guitars {
  margin-bottom: 10rem;
}
@media (max-width: 47.9988em) {
  .guitars {
    -webkit-margin-after: 5rem;
            margin-block-end: 5rem;
  }
}
.guitars__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11.25rem;
}
@media (max-width: 75em) {
  .guitars__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }
}
.guitars__header {
  max-width: 29.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}
.guitars__title {
  color: #121212;
  font-family: "Cal Sans";
  font-size: 3.5rem;
  font-weight: 600;
}
@media (max-width: 47.9988em) {
  .guitars__title {
    width: min(29.3125rem, 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
  }
}
@media (max-width: 29.9988em) {
  .guitars__title {
    font-size: 2rem;
  }
}
.guitars__title strong {
  color: #FF6428;
}
.guitars__text {
  max-width: 24.875rem;
  color: #666;
  font-weight: 500;
  margin-bottom: 0.9375rem;
}
@media (max-width: 47.9988em) {
  .guitars__text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.guitars__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media (max-width: 47.9988em) {
  .guitars__button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.guitars__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 18px 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 10px;
  border-radius: 40px;
  background: #FF6428;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.guitars__image {
  margin-top: -20%;
  margin-right: -15%;
  border-radius: 0px 0px 9.4375rem 22.5rem;
  -webkit-backdrop-filter: blur(1.25rem);
          backdrop-filter: blur(1.25rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 75em) {
  .guitars__image {
    margin-top: 5%;
  }
}
.guitars__img-big {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  aspect-ratio: 672/586;
  -o-object-fit: cover;
     object-fit: cover;
}
.guitars__img-smoll {
  position: absolute;
  bottom: -7%;
  right: 37%;
  max-width: 5rem;
  aspect-ratio: 1/1;
}

.store {
  -webkit-margin-after: 6.375rem;
          margin-block-end: 6.375rem;
}
@media (max-width: 29.9988em) {
  .store {
    -webkit-margin-after: 3rem;
            margin-block-end: 3rem;
  }
}
.store__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5.75rem;
}
@media (max-width: 29.9988em) {
  .store__content {
    gap: 2rem;
  }
}
.store__title {
  color: #121212;
  font-family: "Cal Sans";
  font-size: 2.75rem;
  font-weight: 600;
}
.store__title strong {
  color: #FF6428;
}
@media (max-width: 29.9988em) {
  .store__title {
    text-align: center;
  }
}
.store__section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
.store__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.375rem;
}
@media (max-width: 47.9988em) {
  .store__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 29.9988em) {
  .store__cards {
    grid-template-columns: 1fr;
  }
}

.subtitle {
  color: #121212;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.subtitle a {
  color: #868686;
  font-weight: 500;
}
@media (max-width: 29.9988em) {
  .subtitle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2.5rem;
}
.product-card__image {
  max-width: 22.75rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  aspect-ratio: 364/190;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-card__headline {
  color: #121212;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.4375rem;
}
.product-card__headline p {
  color: #666;
  font-size: 0.875rem;
}

.categories {
  -webkit-margin-after: 13.75rem;
          margin-block-end: 13.75rem;
}
@media (max-width: 29.9988em) {
  .categories {
    -webkit-margin-after: 5rem;
            margin-block-end: 5rem;
  }
}
.categories__container {
  max-width: 69.25rem;
}
.categories__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}
.categories__title {
  color: #121212;
  font-family: "Cal Sans";
  font-size: 2.75rem;
  font-weight: 600;
}
.categories__title strong {
  color: #FF6428;
}
@media (max-width: 29.9988em) {
  .categories__title {
    text-align: center;
  }
}
.categories__images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.3125rem;
}
@media (max-width: 61.9988em) {
  .categories__images {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 47.9988em) {
  .categories__images {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 29.9988em) {
  .categories__images {
    grid-template-columns: 1fr;
  }
}
.categories__image {
  position: relative;
  max-width: 13.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgb(0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgb(0, 0, 0) 100%);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.categories__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 220/280;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.categories__text {
  position: absolute;
  bottom: 11%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  z-index: 2;
}

.best {
  -webkit-margin-after: 12.3125rem;
          margin-block-end: 12.3125rem;
}
@media (max-width: 29.9988em) {
  .best {
    -webkit-margin-after: 5rem;
            margin-block-end: 5rem;
  }
}
.best__container {
  max-width: 65.75rem;
}
.best__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
}
.best__title {
  color: #121212;
  font-family: "Cal Sans";
  font-size: 2.75rem;
  font-weight: 600;
}
.best__title strong {
  color: #FF6428;
}
@media (max-width: 29.9988em) {
  .best__title {
    text-align: center;
  }
}
.best__images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem 10.125rem;
}
@media (max-width: 61.9988em) {
  .best__images {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 47.9988em) {
  .best__images {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 29.9988em) {
  .best__images {
    grid-template-columns: 1fr;
  }
}
.best__image {
  opacity: 0.4;
  max-width: 8.9375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  aspect-ratio: 143/89;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}